<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>285144801297-7rn9fvf6f900lifh49mhs9bqjh914erq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.285144801297-7rn9fvf6f900lifh49mhs9bqjh914erq</string>
	<key>API_KEY</key>
	<string>AIzaSyC_MLftVsfGyylg7hKHCNISHWnVtOEovs0</string>
	<key>GCM_SENDER_ID</key>
	<string>285144801297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.DJI.DroneCommand</string>
	<key>PROJECT_ID</key>
	<string>dronecommandcenter</string>
	<key>STORAGE_BUCKET</key>
	<string>dronecommandcenter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:285144801297:ios:1d3865395f9ca041</string>
	<key>DATABASE_URL</key>
	<string>https://dronecommandcenter.firebaseio.com</string>
</dict>
</plist>
